.pokemon-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    /* align-content: space-around; */
    justify-items: center;
    grid-column-start: span 3;
    background-color: aqua;
    padding: 2%;
    row-gap: 1em;
}